
.user-profile {
    position: absolute;
    top: 10px; /* Задаем отступ сверху */
    left: 10px; /* Задаем отступ справа */
    padding: 10px 20px; /* Внутренний отступ для формы */
}

.image-page {
    border-radius: 8px;
    flex: 1;
    margin-right: 20px;
    padding: 10px;
    max-width: 500px; /* Например, установите максимальную ширину */
    max-height: 500px;
}

.image-page img {
    max-width: 100%; /* Ограничиваем ширину изображения до 100% ширины родительского элемента */
    max-height: 100%; /* Ограничиваем высоту изображения до 100% высоты родительского элемента */
    height: auto; /* Позволяет изображению сохранять пропорции */
    border-radius: 8px; /* Применяем скругление к изображению */
}


.info {
    flex: 1;
}