
.container {
    max-width: 960px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-profile {
    position: absolute;
    top: 10px; /* Задаем отступ сверху */
    left: 10px; /* Задаем отступ справа */
    padding: 10px 20px; /* Внутренний отступ для формы */
}

.image-info-container {
    display: flex;
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
}

.image-page {
    border-radius: 8px;
    flex: 1;
    margin-right: 20px;
    padding: 10px;
}

.image-page img {
    border-radius: 8px;

}

.info {
    flex: 1;
}