
.user-profile {
    position: absolute;
    top: 10px; /* Задаем отступ сверху */
    left: 10px; /* Задаем отступ справа */
    padding: 10px 20px; /* Внутренний отступ для формы */
}

.content {
    flex: 1; /* Занимает все доступное пространство между контентом и футером */
    /* Дополнительные стили для вашего контента */
}
.favorites-gallery{
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr)); /* По два изображения в одной строке */
    gap: 20px;
}
.favorites {
    width: 270px; /* увеличиваем ширину */
    height: 270px; /* увеличиваем высоту */
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;
}


.favorites:hover {
    transform: scale(1.05);
}

.favorites img {
    width: auto; /* Автоматический размер ширины */
    height: auto; /* Автоматический размер высоты */
    max-width: 100%; /* Максимальная ширина 100% */
    max-height: 100%; /* Максимальная высота 100% */
    object-fit: contain; /* Подгоняем изображение в контейнер */
    border-radius: 8px;
    display: block; /* Делаем изображение блочным элементом */
    margin: auto; /* Центрируем изображение по горизонтали */
}
