
.user-profile {
    position: absolute;
    top: 10px; /* Задаем отступ сверху */
    left: 10px; /* Задаем отступ справа */
    padding: 10px 20px; /* Внутренний отступ для формы */
}

.content {
    flex: 1; /* Занимает все доступное пространство между контентом и футером */
    /* Дополнительные стили для вашего контента */
}